.col-2{
    margin: 0vw;
    padding: 0;
    height: 100vh;
    background-color: gray;
}

.d-flex img{
    height: 100vh;
}

.fs-4{
    font-size: calc(1.275rem + .3vw);
}

.fs-4 a:hover{
    color: white;
}

.nav{
    padding: 30px;
}

.nav-item a:hover{
    color: aqua;
}

.nav-link{
    color: aliceblue;
}

.dropdown{
    margin-top: auto;
    margin-bottom: 5rem;
}

th{
    background-color: gray;
    color: white;
}

.col-md-6{
    margin-top: 100px;
}

.col-md-4{
    margin-top: 100px;
}

h2{
    margin-left: 140px;
}

.table-responsive{
    border-collapse: separate;
    border-spacing: 1px;
}

.table-responsive th{
    background-color: gray;
    color: white;
    padding: 5px 30px;
    text-align: center;
}

.table-responsive td{
    border: solid 1px gray;
    color: gray;
    padding: 5px;
    text-align: left;
}

.button{
    margin-left: 210px;
}
